<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campus Hostel Allocation System</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link href="https://ai-public.creatie.ai/gen_page/tailwind-custom.css" rel="stylesheet" />
    <script
        src="https://cdn.tailwindcss.com/3.4.5?plugins=forms@0.5.7,typography@0.5.13,aspect-ratio@0.4.2,container-queries@0.1.1"></script>
    <script src="https://ai-public.creatie.ai/gen_page/tailwind-config.min.js" data-color="#000000"
        data-border-radius="small"></script>
</head>

<body class="bg-gray-50 font-sans">
    <nav class="bg-white shadow">
        <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <div class="flex-shrink-0 flex items-center">
                        <span class="ml-2 text-xl font-semibold text-blue-900">Campus Hostel Allocation</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div id="login"
            class="max-w-md mx-auto mt-20 mb-24 bg-white shadow-2xl rounded-xl px-8 py-12 transform hover:shadow-xl transition duration-300">
            <h2 class="text-3xl font-bold text-blue-900 text-center mb-10">Register an Account</h2>
            <form class="space-y-8">
                <div>
                    <label for="name" class="block text-sm font-semibold text-blue-700 mb-2">Name</label>
                    <div class="mt-1 relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <i class="fas fa-id-card text-blue-400"></i>
                        </div>
                        <input id="student-id" name="name" type="text" required=""
                            class="!rounded-lg block w-full pl-10 pr-3 py-3 border-2 border-gray-200 focus:ring-2 focus:ring-custom focus:border-custom sm:text-sm transition duration-150 ease-in-out"
                            placeholder="Enter your student ID" />
                    </div>
                </div>
                <div>
                    <label for="email" class="block text-sm font-semibold text-blue-700 mb-2">Email</label>
                    <div class="mt-1 relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <i class="fas fa-id-card text-blue-400"></i>
                        </div>
                        <input id="student-id" name="email" type="text" required=""
                            class="!rounded-lg block w-full pl-10 pr-3 py-3 border-2 border-gray-200 focus:ring-2 focus:ring-custom focus:border-custom sm:text-sm transition duration-150 ease-in-out"
                            placeholder="Enter your Email" />
                    </div>
                </div>
                <div>
                    <label for="phone" class="block text-sm font-semibold text-blue-700 mb-2">Phone Number</label>
                    <div class="mt-1 relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <i class="fas fa-id-card text-blue-400"></i>
                        </div>
                        <input id="student-id" name="phone" type="text" required=""
                            class="!rounded-lg block w-full pl-10 pr-3 py-3 border-2 border-gray-200 focus:ring-2 focus:ring-custom focus:border-custom sm:text-sm transition duration-150 ease-in-out"
                            placeholder="Enter your Phone number" />
                    </div>
                </div>
                <div>
                    <label for="role" class="block text-sm font-semibold text-blue-700 mb-2">Role</label>
                    <div class="mt-1 relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <i class="fas fa-id-card text-blue-400"></i>
                        </div>

                        <select name="role" id=""
                            class="!rounded-lg block w-full pl-10 pr-3 py-3 border-2 border-gray-200 focus:ring-2 focus:ring-custom focus:border-custom sm:text-sm transition duration-150 ease-in-out">
                            <option value="student">Student</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="password" class="block text-sm font-semibold text-blue-700 mb-2">Password</label>
                    <div class="mt-1 relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <i class="fas fa-lock text-blue-400"></i>
                        </div>
                        <input id="password" name="password" type="password" required=""
                            class="!rounded-lg block w-full pl-10 pr-3 py-3 border-2 border-gray-200 focus:ring-2 focus:ring-custom focus:border-custom sm:text-sm transition duration-150 ease-in-out"
                            placeholder="Enter your password" />
                    </div>
                </div>
                <div>
                    <button type="submit"
                        class="!rounded-lg w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium text-white bg-blue-900 hover:bg-custom/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-custom transform transition duration-150 ease-in-out hover:scale-105">
                        <i class="fas fa-sign-in-alt mr-2"></i>
                        Register
                    </button>
                </div>
                <p style="text-align: center; margin-top: 15px;">Already have an account? <a href="/login"
                        style="color: blue">Login</a></p>

            </form>
        </div>
    </main>
    <footer class="bg-white">
        <div class="max-w-8xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
            <div class="mt-8 border-t border-gray-200 pt-8 md:flex md:items-center md:justify-between">
                <div class="flex space-x-6 md:order-2">
                    <a href="#" class="text-gray-400 hover:text-blue-900">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="text-gray-400 hover:text-blue-900">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="text-gray-400 hover:text-blue-900">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">
                    © 2025 Campus Hostel Allocation. All rights reserved.
                </p>
            </div>
        </div>
    </footer>

    <script>
        const registerForm = document.querySelector('form');
        const successMessageElement = document.createElement('div');
        successMessageElement.style.color = 'green';
        successMessageElement.style.fontSize = '18px';
        successMessageElement.style.fontWeight = 'bold';
        successMessageElement.style.marginBottom = '10px';
        successMessageElement.style.textAlign = 'center';


        registerForm.addEventListener('submit', async (e) => {
            e.preventDefault();

            const name = document.querySelector('#student-id[name="name"]').value;
            const email = document.querySelector('#student-id[name="email"]').value;
            const phone = document.querySelector('#student-id[name="phone"]').value;
            const role = document.querySelector('select[name="role"]').value;
            const password = document.querySelector('#password').value;

            const response = await fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name,
                    email,
                    phone,
                    role,
                    password
                })
            });

            const data = await response.json();

            if (data.message === 'Student registered successfully' || data.message === 'Admin registered successfully') {
                successMessageElement.textContent = data.message;
                registerForm.parentNode.insertBefore(successMessageElement, registerForm);

                setTimeout(() => {
                    window.location.href = '/login';
                }, 5000);

            } else {
                console.error(data);
            }
        });

        const verifyToken = async () => {
            const token = localStorage.getItem('token');

            if (!token) {
                window.location.href = '/login';
            }

            const response = await fetch('/verify-token', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    token
                })
            });

            const data = await response.json();

            if (!data.valid) {
                window.location.href = '/login';
            }
        };
    </script>

</body>

</html>